*{
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;  
 }


.PrimerTexto{
    text-align: center;
   }
   .ImagenPrimer img{
       
       margin: 10px 100px 10px 100px;
       border-radius: 10px;
   }
   .PrimerTexto h1{
       font-size: 50px;
       text-align: center;
   }
   .SegundoTexto{
    text-align: center;
    margin: 80px 
}
.SegundoTexto h2{
    font-size: 50px;
}


.TercerTexto{
    display: flex;
    margin: 100px;
}
.TercerTexto p{
    text-align: center;
    margin: auto;
    margin: 50px 50px 50px 100px;
}

.CuartoTexto{
    display: grid;
    height: 60%;
    width: auto;

    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: space-around; 
}

.MedioPago{
    height: 20%;
    width: 70%;
    display: flex;
}
.MedioPago img{
    width:200px ;
    height: 100px;
}
.MedioCelular img{
    width:200px ;
    height: 100px;
}
.MedioCelular{
    height: 20%;
    width: 70%; 
    display: flex;
}
/* sucursal */
.TextoUnoSucursal h1{
    text-align: center;
}
.TextoUnoSucursal p {
padding: 10px 100px 10px 100px;
    text-align: center;
    font-size: 20px;
}
.MapaUno{
    text-align: center;
    font-size: 30px;
}
.Mapa{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.MapaDos{
    text-align: center;
    font-size: 30px; 
}


.fondosucursal{
    display: flex;
    margin-left: 600px;
    margin-right: 300px;
}
.fondosucursal img{
    width: 300px;
    height: 150px;
}

/* servicio */


  /* texto 1 */

  .TextoUnoServicos{
    text-align: center;
    font-size: 20px;
    margin: 30px;
}
/* cuadro uno */
.CuadroUnoServicios{
    display: flex;
    
}
.CuadroUnoServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.CuadroUnoServicios p{
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.BotonUno{
    text-align: right;
    margin-right: 400px;
}

/* cuadro dos */

.CuadroDosServicios{
    display: flex;   
}
.CuadroDosServicios p {
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.CuadroDosServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.BotonDos{
    text-align: right;
    margin-right: 400px;
}
/* cuadro tres */
.CuaroTresServicios{
    display: flex;   
}
.CuaroTresServicios p{
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.CuaroTresServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.BotonTresServicios{
    text-align: right;
    margin-right: 400px;
}
/* cuatro cuatro */
.CuatroCuatroServicios{
    display: flex;   
}
.CuatroCuatroServicios img{
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-right: 10px;
}
.CuatroCuatroServicios p{
    text-align: center;
    padding: 10px 500px 30px 100px;
}
.BotonCuatroServisios{
    text-align: right;
    margin-right: 400px;
}

/* fondo servicos */
.FondoServicios{
    text-align: center;
    font-size: 25px;
}
.FondoServicios img{
    width:100% ;
    height: 300px;
}

/* sesion */
.cajasesion{
    text-align: center;
    float: left;
    background-color: #F6E3CA;
    margin-left: 43%;
    border: #D7C8B6 2px solid;
    border-radius: 5px;
    border: 2px solid;
    padding:  30px;
    

}

